<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Детальная информация по вызову</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

     
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">ID выезда</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
			
			 <div class="panel panel-default">
                        <div class="panel-heading">
                            Описание выезда
                        </div>
                        <div class="panel-body">
                            <p>Дата и время сообщения: 2019-06-26 12:10:04</p>
                            <p>Дата и время локализации: 2019-06-26 12:10:05</p>
							<p>Дата и время ликвидации: 2019-06-26 12:10:06</p>
                            
                            <h4>Адрес выезда</h4>
                            <address>
                                <strong>г. Пинск</strong>
                                <br><strong>ул. Советская 12, 23 (дополнительное поле, напротив)</strong>
                                <br>Брестская область
                                <br> Объект: АЗС (ведомственная принадлежность).
								<br> Координаты: 54.343444, 27.343444 (ссылка по возможности)
                                
                            </address>
                            
							<address>
                                ФИО заявителя: Иванов И.И. (место жительства)
								<br>
                                Телефон: 209-27-51
								<br>
								<strong>Причина выезда: пожар (вид работ) </strong>
								<br>
								<strong>Причина пожара: неосторожное обращение с огнем </strong>
								<br>
								Инспектор: Иванов И.И.
                                
                            </address>
                        </div>
                        <!-- /.panel-body -->
                    </div>
			
			 <div class="row">
                <div class="col-lg-4">
                    <div class="well">
                        <h4>Содержание поступившей информации</h4>
                        <p>Предварительно видно задымление в гаражном кооперативе.</p>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="well">
                        <h4>Детализированная информация</h4>
                        <p>Горит пожар площадью 10 на 10, соседние машины эвакуированы, проводится дополнительная разведка прилегающих площадей</p>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="well">
                        <h4>Причина пожара (пояснение)</h4>
                        <p>В 12-00 произошло самопроизвольное возгарание электропроводки в гараже 32, допонлительно произошло возгарание газов.</p>
                    </div>
                </div>
                <!-- /.col-lg-4 -->
            </div>
			
			 
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Привлекаемые силы и средства МЧС
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive table-bordered">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Техника</th>
											<th>Подразделение</th>
                                            <th>Сообщение о ЧС</th>
                                            <th>Выезд</th>
											<th>Прибытие к месту ЧС</th>
											<th>Возвращение</th>
											<th>Расстояние</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>АЦ ПАСЧ-8</td>
											<td>Сморгонский РОЧС</td>
                                            <td>0:26</td>
                                            <td>0:36</td>
											<td>0:46</td>
											<td>2:36</td>
											<td>15</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>АБР ПАСЧ-1</td>
											<td>Сморгонский РОЧС</td>
                                            <td>0:26</td>
                                            <td>0:36</td>
											<td>0:46</td>
											<td>2:36</td>
											<td>15</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>АЦ ПАСЧ-1</td>
											<td>Сморгонский РОЧС</td>
                                            <td>0:26</td>
                                            <td>0:36</td>
											<td>0:46</td>
											<td>2:36</td>
											<td>15</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
			
			 <div class="panel panel-default">
                        <div class="panel-heading">
                            Привлекаемые силы и средства других ведомств
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive table-bordered">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Служба</th>
											<th>Время сообщения</th>
                                            <th>время прибытия</th>
                                            <th>Расстояние</th>
											<th>Примечание</th>
											
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>102</td>
											<td>0:26</td>
                                            <td>0:27</td>
                                            <td>5</td>
											<td>отряд</td>
											
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Скорая помощь</td>
											<td>0:26</td>
                                            <td>0:27</td>
                                            <td>5</td>
											<td>2 работника</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>ГИМС</td>
											<td>0:26</td>
                                            <td>0:27</td>
                                            <td>6</td>
											<td>3 жилета</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
					
			 <div class="panel panel-default">
                        <div class="panel-heading">
                            Информирование должностных лиц
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive table-bordered">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Адресат</th>
											<th>Время сообщения о ЧС</th>
                                            <th>Время выезда</th>
                                            <th>Время прибытия</th>
											
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>начальник Иванов И.И.</td>
											<td>0:26</td>
                                            <td>0:36</td>
											<td>0:46</td>
											
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>начальник Сидоров И.И.</td>
											<td>0:27</td>
                                            <td>0:37</td>
											<td>0:47</td>
											
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>начальник Петров И.И.</td>
											<td>0:28</td>
                                            <td>0:38</td>
											<td>0:48</td>
											
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
        
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>

</body>

</html>
