<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>РП Журнал ЦОУ</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <h1>Руководство пользователя программного средства "Журнал ЦОУ"</h1>
<div class="accordion">
  <ul>
    <li>
      <div>
        <a href="#">
          <h2>Вход в программу</h2>
          <p>Данные для входа можно получить в РЦУРЧС (тел. 209-27-51)</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#">
          <h2>Создание выезда</h2>
          <p>Выезд можно создать по кнопке или из левого меню</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#">
          <h2>Базовые вкладки</h2>
          <p>Заполняем информацию на 3 базовых вкладках и сохраняем выезд в любой момент</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#">
          <h2>Дополнительная информация</h2>
          <p>Заполняем информацию на вспомогательных вкладках</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#">
          <h2>Редактирование выезда</h2>
          <p>Для редактирования информации по выезду или удаления используйте кнопки</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#">
          <h2>Классификаторы</h2>
          <p>На уровне района можно вести классификатор для информирования должностных лиц</p>
        </a>
      </div>
    </li>
  </ul>
</div>
<p class="about">
  By <a href="http://erc.mchs.gov.by/">РЦУРЧС</a>
</p>
  
  
</body>
</html>
